#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $color-gray-background;

  #container {
    display: flex;
    border-radius: $border-radius-default;
    background-color: $color-white-default;
    width: 80%;
    height: 86%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    .form-wrapper {
      padding: 16px;
      width: 50%;

      nav {
        display: flex;
        justify-content: center;
        padding: 28px 0;

        ul {
          width: 100%;
          display: flex;
          justify-content: space-around;
          list-style: none;
          align-items: center;

          .logo-wrapper {
            display: flex;
            align-items: center;

            .point-blue {
              color: $color-blue-logo;
              font-weight: bold;
            }
          }

          li {
            .circle-blue {
              height: 25px;
              width: 25px;
              border-radius: 12.5px;
              background-color: $color-blue-logo;
              margin-right: 8px;
            }

            a.logo {
              color: $color-black-default;
            }
            a {
              color: $color-gray-nav;
            }
          }
        }
      }
    }

    .img-wrapper {
      position: relative;
      background-image: url('https://images.unsplash.com/photo-1439853949127-fa647821eba0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=987&q=80');
      background-position: center center;
      background-size: cover;
      width: 50%;
      overflow: hidden;
      border-radius: $border-radius-default;

      .custom-shape-divider-top-1636789823 {
        position: absolute;
        top: 146px;
        left: -40%;
        width: 100%;
        overflow: hidden;
        height: 400px;
        line-height: 0;
        transform: rotate(90deg);
        width: 130%;
      }

      .custom-shape-divider-top-1636789823 svg {
        position: relative;
        display: block;
        width: calc(106% + 1.3px);
        height: 350px;
      }

      .custom-shape-divider-top-1636789823 .shape-fill {
        fill: $color-white-default;
      }
    }
  }
}
