#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $color-gray-background;

  #container {
    display: flex;
    border-radius: $border-radius-md;
    background-color: $color-white-default;
    width: 1152px;
    height: 700px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    .form-wrapper {
      padding: 16px;
      display: flex;
      flex-direction: column;
      width: 50%;

      .form-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
      }
    }

    .img-wrapper {
      position: relative;
      background-position: center center;
      background-size: cover;
      width: 50%;
      overflow: hidden;
      border-radius: $border-radius-md;
    }
  }
}
