.form {
  height: 60%;
  padding: 36px;

  form {
    display: flex;
    flex-direction: column;

    .full-name-wrapper {
      display: flex;
      justify-content: space-between;

      .first-name-wrapper,
      .last-name-wrapper {
        display: flex;
        background-color: $color-gray-background-input;
        border-radius: $border-radius-lg;
        padding: 8px 18px;
        align-items: center;
        justify-content: space-between;
        width: 47%;

        .first-name-content-form,
        .last-name-content-form {
          display: flex;
          flex-direction: column;

          label {
            font-size: $font-size-label;
            color: $color-gray-nav;
            padding-left: 3px;
          }

          input {
            font-weight: 600;
            font-size: $font-size-input;
            width: 80%;
            margin-top: 4px;
            border: none;
            background-color: transparent;
            padding: 3px;

            &:focus {
              outline: none;
            }
          }
        }
      }
    }
    .email-wrapper,
    .password-wrapper,
    .button-wrapper {
      display: flex;
      justify-content: space-between;
      margin-top: 18px;
      background-color: $color-gray-background-input;
      border-radius: $border-radius-lg;
      padding: 8px 18px;
      align-items: center;
      width: 100%;

      .email-content-form,
      .password-content-form {
        display: flex;
        flex-direction: column;
        width: 90%;

        label {
          font-size: $font-size-label;
          padding-left: 3px;
          color: $color-gray-nav;
        }

        input {
          font-weight: 600;
          font-size: $font-size-input;
          width: 100%;
          margin-top: 4px;
          border: none;
          background: none;
          padding: 3px;

          &:focus {
            outline: none;
          }
        }
      }
    }

    .button-wrapper {
      background-color: $color-white-default;
      padding: 0;

      .change-method-btn {
        color: $color-gray-nav;
        background-color: $color-gray-background-input;
      }

      .create-account-btn {
        color: $color-white-default;
        background-color: $color-blue-logo;
      }

      button {
        width: 47%;
        padding: 20px 16px;
        border-radius: $border-radius-xl;
        border: none;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
