.form-header {
  padding-left: 36px;

  .header-info {
    color: $color-gray-nav;
    text-transform: uppercase;
    font-weight: bold;
  }

  .header-title {
    font-size: $font-size-title;
    padding: 22px 0;

    .blue-dot {
      color: $color-blue-logo;
    }
  }

  .header-question {
    color: $color-gray-nav;

    button {
      border: none;
      background: none;
      color: $color-blue-logo;
      font-size: $font-size-btn;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
