.custom-shape-divider-top-1636789823 {
  position: absolute;
  top: 172px;
  left: -56%;
  width: 100%;
  overflow: hidden;
  height: 400px;
  line-height: 0;
  transform: rotate(90deg);
  width: 130%;

  svg {
    position: relative;
    display: block;
    width: calc(116% + 1.3px);
    height: 330px;
  }

  .shape-fill {
    fill: $color-white-default;
  }
}
