// keyframes animations

// event listener animations
.focus {
  outline: 2px solid $color-blue-logo;
  box-shadow: 0 3px 10px $color-blue-logo;
  background-color: #fff !important;

  label {
    color: $color-blue-logo !important;
  }
}

.error {
  width: 100%;
  padding: 0.3em;
  height: 14px;
  font-size: 80%;
  color: #e63946;

  box-sizing: border-box;
}

.error.active {
  padding: 0.3em;
}
